[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[safe]
	directory = /tmp/aegira-creditappdemo-runner/aegira-creditappdemo-cicd/aegira-creditappdemo-cicd
